.yuji-mai-regular {
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
}
.neonText {
    color: #fff;
    text-shadow:
      /* White glow */
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      /* Green glow */
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
  }

body{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main{
    height: 1000px;
    width: 600px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
#board{
    height: 500px;
    width: 500px;
    border-radius: 0.5em;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    justify-content: center;
    gap: 10px;
}
.grid{
    font-size: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
} 
.grid:hover{
    font-size: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    border: none;
} 
header div{
    padding: 10px;
    font-size: 2em;
}

dialog{
    border: 2px solid green;
    background-color: black;
}


button{
    height: 40px;
    width: 80px;
    border: 1px solid green;
    background-color: black;
    box-shadow: green 5px 5px;
}
button:hover{
    height: 40px;
    width: 80px;
    border: 1px solid green;
    background-color: black;
    box-shadow: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#score{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}